@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>
<input type="button" id="Button2" onclick="window.location.href='@Url.Action("UploadPhoto","home")'"
       value="Upload" />